[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:tboqi/bootstrap.git
[submodule "h-ui"]
	path = h-ui
	url = git@github.com:tboqi/h-ui.git
[submodule "H-ui.admin"]
	path = H-ui.admin
	url = git@github.com:tboqi/H-ui.admin.git
[submodule "H-ui.admin.page"]
	path = H-ui.admin.page
	url = git@github.com:tboqi/H-ui.admin.page.git
[submodule "ueditor"]
	path = ueditor
	url = git@github.com:tboqi/ueditor.git
[submodule "adminlte"]
	path = adminlte
	url = git@github.com:almasaeed2010/AdminLTE.git
[submodule "fbootstrapp"]
	path = fbootstrapp
	url = git@github.com:ckrack/fbootstrapp.git
[submodule "bootmetro"]
	path = bootmetro
	url = git@github.com:aozora/bootmetro.git
[submodule "amazeui"]
	path = amazeui
	url = git@github.com:amazeui/amazeui.git
[submodule "mui"]
	path = mui
	url = git@github.com:dcloudio/mui.git
[submodule "Semantic-UI"]
	path = Semantic-UI
	url = git@github.com:Semantic-Org/Semantic-UI.git
